table{
    height: 50px;
    width: 100%;
    background-color: rgb(196, 167, 21);
}

form{
border-radius: 10px;
background-color: rgb(226, 226, 222);
width: 400px;

}

.submit{
border-radius: 10px;
background-color: rgb(42, 74, 214);
}